
<%= render "shared/account_profile",moji: "アカウント" %>

<div style="text-align: right;">
  <%= link_to edit_user_registration_path, class: "btn btn-primary" , style:"color: white;" do %>
  <i class="bi bi-pencil"></i> 編集
  <% end %>
</div>

<table class="table account-profile-table">
  <tr>
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
  </tr>
  <tr>
      <th>パスワード</th>
      <td>*********</td>
  </tr>
</table>

