<h1>設定</h1>

<div class="row align-items-center" >
  <div class="col-lg-4">
    <%= render "shared/account_profile" %>
  </div>
  <div class="col-lg-8">
    <h3 class="mt-3">アカウント</h3>
    <div class="pb-2 border-bottom" style="text-align: right;">
      <%= link_to edit_user_registration_path, class: "btn btn-primary" , style:"color: white;" do %>
      <i class="bi bi-pencil"></i> 編集
      <% end %>
    </div>
    <div class="field row py-2 border-bottom">
      <div class= "col-sm-3 fw-bold text-nowrap mb-2">メールアドレス</div>
      <div class= "col-sm-9"><%= @user.email %></div>
    </div>
    <div class="field row py-2 border-bottom">
      <div class= "col-sm-3 fw-bold text-nowrap mb-2">パスワード</div>
      <div class= "col-sm-9 text-align-left">*********</div>
    </div>
  </div>
</div>


